# dotenv environment variables file
.env
.env.local
.env.local.*
.env.production
.env.production.*

# Compiled
.cache
bin
build
dist
lib
public
!src/*
!scripts/*

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules
bower_components
jspm_packages

# dotenv environment variables file
.env
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Output of 'npm pack'
*.tgz

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Typescript v1 declaration files
typings

# Mac files
.DS_Store
